{% extends 'mailing/base.html' %}

{% block content %}



    <div class="container" >
        <div class="card-deck mb-auto text-center">
            <div class="card mb-auto box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Добавление(редактирование) клиента</h4>
                </div>
                <div class="card-body text-center">
                    <a href="{% url 'mailing:client_create' %}" class="btn btn-lg btn-block btn-outline-primary">
                        Создать клиента</a>
                     <a href="{% url 'mailing:update_delete_clients' %}" class="btn btn-lg btn-block btn-outline-primary">
                        Редак. клиентов</a>
                </div>
            </div>

            <div class="card mb-5 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Рассылка</h4>
                </div>
                <div class="card-body">
                    <a href="{% url 'mailing:create_mailing' %}" class="btn btn-lg btn-block btn-outline-primary">
                        Создать рассылку</a>
                      <a href="{% url 'mailing:update_delete_mailing' %}" class="btn btn-lg btn-block btn-outline-primary">
                        Редактировать рассылку</a>
                </div>
            </div>


            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Сообщения</h4>
                </div>
                <div class="card-body">
                     <a href="{% url 'mailing:create_message' %}" class="btn btn-lg btn-block btn-outline-primary">
                        Создать сообщение</a>
                    <a href="{% url 'mailing:update_delete_message' %}" class="btn btn-lg btn-block btn-outline-primary">
                        Редактировать сообщение</a>
                </div>

            </div>

            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Логи</h4>
                </div>
                <div class="card-body">

                     <a href="{% url 'mailing:logs' %}" class="btn btn-lg btn-block btn-outline-primary">
                        Просмотр логов</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}