{% extends 'mailing/base.html' %}
{% block content %}
    <ul class="list-articles">

        {% for object in message %}
            <div class="card">

                <div class="card-body">
                    <a href="{% url 'mailing:update_message' object.pk %}"
                       class="btn btn-lg btn-block btn-outline-primary"> Редактировать
                        сообщение {{ object.mailing_setting }}</a>
                    <p></p>

                    <a class="btn btn-outline-danger float-right" href="{% url 'mailing:delete_message' object.pk %}">Удалить
                        сообщение</a>
                </div>
            </div>

        {% endfor %}

    </ul>
{% endblock %}
